[2019-08-24 09:34] HELLSP4RK opened #1 "BF1 is gone"
Don't have BF1 in GOG Galaxy 2.0 anymore. Tried to reconnect my Origin account, but still can't see it in GOG

[2019-08-29 10:12] FriendsOfGalaxy commented on #1
May I ask you to attach either full log located here: c:\ProgramData\GOG.com\Galaxy\logs\plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log
or just the part containing your owned games, something like this:
[code]

[2019-08-29 19:20] HELLSP4RK commented on #1
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3557018/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[2019-09-06 08:26] FriendsOfGalaxy commented on #1
Could you please check if it's there yet? It might miss some media, but this is something by GOG's side.

[2019-09-07 09:41] HELLSP4RK commented on #1
No, it isn't still

[2019-09-13 21:20] Megatonit opened #2 "GOG Galaxy crash when sync Origin library."
Hello, gog galaxy always crashing, when i sync my Origin games.
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3611883/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[2019-09-14 13:53] EowynCarter opened #3 "Sims 4 no properly detected"
I own the sims 4 (limited edition) but galaxy shows only the create a sim demo.

[2019-09-17 11:36] FriendsOfGalaxy commented on #3
Can you check now?

[2019-09-17 17:11] EowynCarter commented on #3
Perfect. It works now :) Tanks you so much.

[2019-09-17 19:22] EowynCarter commented on #3
Ok, there these to be an other (less problematic), issue.

it show : f
first played : 12 days ago (wrong)
reached 150 hours 12 days ago (wrong)
reach 25 hours : 5 years ago (seams legit)
played for the first time : 5 year ago (legit)

total play time : 232 hours (legit too)

12 days ago, there was the update. probably what messed up the stats.  Battlefront II say "play for the first time : 2 month

[2019-09-18 07:08] RaptorPharaoh opened #4 "PVZ Garden Warfare 1 not appear"
Nothing to add, only the tittle. Thanks

[2019-09-19 17:52] benten2000 opened #5 "Origin python background process still running when GOG Beta closed."
I reported this to GOG support as well as here now.

Got my GOG Beta invite and installed the latest version 2.0.5.138 and added the plugins support for my other accounts (Steam, Uplay, Origin) which worked fine.

But when I fully close down GOG there are processes still running that never do unless forced:
GOG Galaxy (32 bit) (2)
----Python (32 Bit)
----Console Window Host

Checked what both thes

[2019-10-21 16:29] baertigen opened #6 "Ultima VII not detected"
All the games get detected perfectly apart from Ultima VII Complete Edition.

[2019-10-29 01:57] Megatonit commented on #2
With new version all works fine. Thanks!

[2019-10-29 01:57] #2 closed

[2019-10-31 22:56] victorleblais opened #7 "Origin Access subscription: Viewing uninstalled games."
Hello,

Is there any way to see the available games you can use/install when you have an Origin Access subscription?

It correctly shows games that I have installed, but not the catalog of all the games I can potentially play.

Thanks.

[2019-11-18 09:36] FriendsOfGalaxy commented on #5
This should be fixed by now. Thx for reporting it!

[2019-11-18 09:36] #5 closed

[2019-11-19 22:28] Choum28 opened #8 "Missing game : Dragon Age Origins Digital Deluxe edition"
Hello,

As said in title, this specific game version is not detected by the plugin.

But in log the game seems found :
{"game_id": "DR:151951600", "game_title": "Dragon Age:\u2122 Origins Digital Deluxe Edition", "license_info": {"license_type": "SinglePurchase"}}

[2019-11-23 19:45] Deepo opened #9 "STAR WARS Jedi: Fallen Order achievements not showing up in Galaxy 2.0"
Achievements for STAR WARS Jedi: Fallen Order are not showing up in Galaxy 2.0.
![image](https://user-images.githubusercontent.com/2171572/69484318-25969280-0e32-11ea-9d6d-ce891689ef48.png)

[2019-11-25 11:19] FriendsOfGalaxy commented on #8
If a game appears in log, then it is Galaxy gamesDb issue. Please report by cogwheel->Report Issue
From experience the fix may lasts up to few weeks.

[2019-11-25 11:21] #8 closed

[2019-11-25 16:47] FriendsOfGalaxy commented on #9
Thanks for report. So this game support achievements, right? Can you attach you origin log file from
`C:\ProgramData\GOG.com\Galaxy\logs` please? (assuming standard location on Windows)

[2019-11-25 21:43] Deepo commented on #9
Thank you for looking into it. The game does indeed have achievements, and I see that my achievements actually appears in the log file, but they don't show up in the Galaxy client.

 [plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3888870/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[2019-11-26 12:15] codevski opened #10 "Change account email causing infinite loop"
So I ran into this issue where I changed my Origin account email which causes the integration to fall into an infinite loop on connecting..

![connecting](https://media.discordapp.net/attachments/625640414548066315/648674159710306315/unknown.png?width=495&height=57)

I thought maybe deleting the origin installed plugin folder would help but all it does is re-downloads the plugin and starts trying

[2019-11-26 12:34] FriendsOfGalaxy commented on #10
Does this still occur in 0.32 for you ?
Should auto update after restarting galaxy.

[2019-11-26 13:15] codevski commented on #10
So I am not sure if the update fixed the issue.

Steps I took to sort it out:

- Copy & Deleted Galaxy folder thats located in AppData.

- Launched GOG and noticed all of the plugins started to download and get stuck on connecting.

- Closed GOG and deleted Galaxy folder again and restored the original folder.

- All plugins connected. Origin plugin tried to connect then it switched to Offline.

-

[2019-11-26 13:19] FriendsOfGalaxy commented on #9
Hi, so its probably similar problem to this one:
https://github.com/FriendsOfGalaxy/galaxy-integration-steam/issues/17

[2019-11-26 13:26] #10 closed

[2019-11-26 14:25] Deepo commented on #9
Sounds like that could be the same problem. I had the game pre-ordered.

[2019-11-27 05:31] RaptorPharaoh commented on #4
Hello, in my Origin plugin not appear my Plants VS Zombies: Garden Warfare 1 because I have the Digital Deluxe Edition and this version isn't appear in GOG's search engine, only appears the Standard Edition [GW2 have both editions listed]. Please can you ask them for add the entry to the GOG's database? Thanks

[2019-11-27 09:48] FriendsOfGalaxy commented on #4
Sure. I'm sending report. For the future you can send it by yourself:
- check in plugin log file `%programdata%\GOG.com\Galaxy\logs` if there is this title
- if not - report here - else: this game is properly send from plugin but spammed/hidden in Galaxy
- get id of this title from log
- send report using galaxy cogwheel menu -> Report issue

[2019-11-28 04:38] RaptorPharaoh commented on #4
Hi, thank you so much :) and ok I'll follow the instructions you told me.

[2019-12-02 22:10] lionnesquaer opened #11 "Origin games achievement problem"
Hello!

Some Origin games shows unlocked achievements like locked and hidden (NFS Heat, NFS Payback for example)
![Desktop Screenshot 2019 12 03 - 01 07 09 21](https://user-images.githubusercontent.com/39178626/69999444-b9223e80-1569-11ea-8ecc-7c72a1803dba.png)
![Desktop Screenshot 2019 12 03 - 01 09 15 92](https://user-images.githubusercontent.com/39178626/69999446-b9bad500-1569-11ea-8c52-8b8d422

[2019-12-02 22:11] lionnesquaer commented on #9
I have same problem

[2019-12-03 09:39] FriendsOfGalaxy commented on #11
Hi, thanks for report.

So are you sure that those achievements are unlocked in origin account you log in to Galaxy?

Help us please by pasting logs like was asked in issue template here: https://github.com/FriendsOfGalaxy/galaxy-integration-origin/issues/new?assignees=&labels=&template=bug_report.md&title=

[2019-12-03 14:06] lionnesquaer commented on #11
Yes, im sure this achivements unlocked. This problem appers in Star Wars Battlefront 2, Need for Speed Heat, Need for Speed Payback.
Log is attached
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3916990/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[2019-12-04 09:42] FriendsOfGalaxy commented on #11
Achievements load failed for 3 games:
[code]
Problem with owned games id's. Will be investigated.

[2019-12-04 09:48] FriendsOfGalaxy commented on #7
Hi, there are some problems with subscription games for now. There is no way to filter in Galaxy to distinguish those from normal no-subscription games. Many users don't want to show all stuff. I hope Galaxy will address this problem soon in their API - then we will add it as well.

Currently you have to play this game at least once to show it in Galaxy - this is exactly how origin API for owned g

[2019-12-04 09:49] FriendsOfGalaxy commented on #6
Hi, sorry for late response. Can you follow this wiki and check if Ultima VII Complete Edition in send from plugin?
https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Common-problems

[2019-12-04 09:52] FriendsOfGalaxy commented on #3
I'm closing this, as original issue was solved. If you still encounter any problems with gametimes, please create new issue. Thanks!

[2019-12-04 09:52] #3 closed

[2019-12-04 09:57] #4 closed

[2019-12-04 09:58] FriendsOfGalaxy commented on #4
@RaptorPharaoh I'm closing for now, but let us now it it was fixed or not within few weeks.

[2019-12-04 10:06] FriendsOfGalaxy commented on #1
Hey @HELLSP4RK is it fixed for you already? It should, as it works for me.

If Battlefield 1 still do not show up in your library, please write an issue on Galaxy mantis with this information:
[code]

[2019-12-04 11:52] HELLSP4RK commented on #1
No, it doesn't still. Last time when I report it to Galaxy happen nothing. But thank you!

[2019-12-04 14:23] FriendsOfGalaxy commented on #1
No problem.  I'm closing this as it's not the plugin issue.

[2019-12-04 14:23] #1 closed

[2019-12-09 13:44] baertigen commented on #6
Hey, don't worry. I looked at the log, but there's no owned_games or any game title whatsoever.

[2019-12-09 13:58] FriendsOfGalaxy commented on #6
Ah, looks like in latest API version this plugin use all responses to Galaxy are not logged, so owned_games won't be visible in any way...

I've reported lacking Ultima VII in Galaxy.

[2019-12-10 23:29] Whalee110 opened #12 "Origin no longer closes upon exit."
Origin no longer closes automatically once game is closed.

Launched origin game and closed around 10:20 AM to 10:26 AM within the log.

[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3947611/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[2019-12-11 00:33] Whalee110 commented on #12
Further testing I have found the client closes when playing Star Wars Jedi Fallen Order. When playing Dragon Age Inquisition the client does not close.

Star Wars was closed around 11:25:50 AM - A call for 'Client_Shutdown' can be seen.
Dragon Age Inquisition was closed around 11:28:30 AM - No references within the log point to the games closure, or a follow up call for 'Client_shutdown'

I have a

[2019-12-11 16:45] FriendsOfGalaxy commented on #12
Hey, looks like Galaxy asks for shutdown_platform_client after status changed notification (from "played" to "installed").

[code]

Can you confirm that after Dragon Age Inquisition was closed, Galaxy still thinks it is running? The Play button should be gray. If so, can you check it the game process it really closed?

[2019-12-12 00:14] Whalee110 commented on #12
Thanks for the reply. I have checked again -  once closed the game is able to be relaunched from GOG 2.0 (So GOG 2.0 knows it has closed) - I tried closing all additional services on Origin to see if it was a component there causing it but no luck.

So far 2 games it doesn't work for, and only Star wars does it pick up.

Is this a bug what will need to be fixed? Or should I test reinstalling Origi

[2019-12-12 01:11] Whalee110 commented on #12
An update!

Recently I reinstalled Origin, but didn't reinstall games as the files were already there. In that time Battlefield V and Star Wars: Jedi Fallen Order had updated / installed. These two games were fine - I did a quick repair on Dragon Age Inquisition and The Saboteur. Before the repair they both didn't close Origin, after the repair they did. I was looking in the registry and couldn't

[2019-12-14 09:47] #12 closed

[2019-12-14 17:31] FriendsOfGalaxy commented on #12
Thanks for checking this out. Origin is asked for closing with single webrowser protocol, so if anyone has similar issue, please run this from your browser url-bar:
[code]

[2019-12-17 05:41] lethesdomoi opened #13 "Certain games not showing up in list"
I noticed that Sims Medieval Ultimate Edition is not in my list of games. Apparently others have had similar problems:

https://www.gog.com/forum/general_beta_gog_galaxy_2.0/bug_origin_integration_some_games_are_missing/page2

It looks like the plugin may be choking on the word "Edition". I don't know enough about how the API works and don't have time to look into it and offer a solution, but it s

[2019-12-17 14:52] FriendsOfGalaxy commented on #13
This may be GOG issue. Please refer to this: https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Common-problems

[2019-12-17 15:23] lethesdomoi commented on #13
Thanks. It is displaying in the logs and I am submitting a bug report to GOG.

[2019-12-17 15:30] #13 closed

[2019-12-18 07:11] PlanetStargazer opened #14 "No Origin games are showing up in Galaxy 2.0"
For some reason no Origin games show up in Galaxy 2.0. The plugin is connected, I get no error messages, but it doesn't work. Hopefully you can find the issue and fix it, or give me some advice if the problem is on my side.
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3977088/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4

[2019-12-18 16:17] FriendsOfGalaxy commented on #14
Hey, thanks for the report.

Looks like one request for owned game is failing and the whole batch returns an error.
I've prepared test version for you. Please:
1. close Galaxy
2. unpack [plugin.zip](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3979338/plugin.zip) input plugin directory:
[code]
(assuming you're on windows)
(file `plugin.py` should be overwriten)

3. launch Gal

[2019-12-19 11:27] PlanetStargazer commented on #14
A lot of games started to appear after using your test version of the plugin.

[2019-12-19 11:28] PlanetStargazer commented on #14
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/3983335/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[2019-12-20 09:34] FriendsOfGalaxy commented on #14
Ok, that's expected :) The problem is with `/mercenaries/mercenaries-world-in-flames/standard-edition` so probably: https://www.origin.com/pol/pl-pl/store/mercenaries/mercenaries-world-in-flames ?

When and where did you buy it?

[2019-12-20 12:42] PlanetStargazer commented on #14
I think I know what might have caused the issue. For some reason I have this game twice in my Origin library. I hid one of them. And no, I can not remember where I got those copies. Probably something like a Humble Bundle or it was given away for free at one time.

[2019-12-20 12:45] PlanetStargazer commented on #14
Ah, I just found out that the second entry is NOT a second copy of the game but a "Mercenaries Costume Pack Unlock Code". It's basically just a CD key.

[2019-12-20 13:53] FriendsOfGalaxy commented on #14
Ok, I see that this game was also properly imported in Galaxy, so this missing thing may be no-longer existing offer that previously was containing this "Costume Pack" along with the game.

Patch is released, 404s are ignored while fetching game details.

[2019-12-20 13:53] #14 closed

[2019-12-22 19:16] SylwesterZarebski commented on #7
OT: I do not confirm how it works. I have games only *claimed* (not played) and it properly shows in Galaxy 2.0.

[2019-12-22 19:21] SylwesterZarebski opened #15 "Uninstall game goes to Control panel/Uninstall list"
**Describe the bug**
When I choose Manage install/Uninstall uninstaller is not run, but Control panel/Uninstall list is shown.

**To Reproduce**
Choose any installed Origin game, then Manage install/Uninstall.

**Expected behavior**
Uninstall game - the same as in Origin.

**Attached logs**
Relevant log entries:
[code]

[2019-12-22 19:23] SylwesterZarebski commented on #15
This may be problem of Origin platform, not GOG nor plugin, but still reporting this to check it out.

[2020-01-03 10:49] FriendsOfGalaxy commented on #15
Well, its intentional. Origin do the same, at least for some games, for example Need For Speed Shift.

We didn't found browser protocol command for uninstall, so just use simplified "uninstall" for all.

[2020-01-03 11:14] SylwesterZarebski commented on #15
It is true for only some games. Most of them are uninstalled right off from the client (Origin) without going to control panel.
I've checked this with Battlefield V (5) game. It is uninstalled right off from Origin and GOG goes to control panel.

If it is limitation of protocol, it may be resolved in future.

[2020-01-03 13:34] FriendsOfGalaxy commented on #15
Sure, but usually foreign clients do not need to implement "uninstall" command in browser protocol, so if it does not exists now, I wouldn't suspect this to appear in the near future.

But maybe it does exist? You can try out to find - we're accepting any ideas and PRs :)

Another way is to parse uninstall registry and just call proper `UninstallString`
![db4d4f707b905656be2897178d72068d](https://

[2020-01-03 14:07] SylwesterZarebski commented on #15
Checking Steam plugin it looks like Steam have desired functionality, maybe Origin will have it in future.

[2020-01-13 11:17] FriendsOfGalaxy commented on #15
@SylwesterZarebski how the situation with uninstalling Battlefield/other custom uninstalled game?

[2020-01-13 19:05] SylwesterZarebski commented on #15
Sorry for delay. I checked few other games (B5 is too big to download just for uninstall :-/) and it looks like executing uninstall from EA client is the same as from Control Panel.

Uninstall from Control Panel:
![obraz](https://user-images.githubusercontent.com/1755531/72283497-35b33d00-363f-11ea-826c-67afdfdf2b93.png)
Uninstall from EA client:
![obraz](https://user-images.githubusercontent.com/

[2020-01-14 11:04] FriendsOfGalaxy commented on #15
Thanks for checking! I'll research how EA Installer Cleanup works in spare time to handle uninstall properly.

[2020-02-27 20:53] nicksundermeyer opened #16 "Origin integration offline, doesn't sync playtimes"
**Describe the bug**
The Origin integration is installed and I am logged into my account, and it can show and launch games. However, in the integration settings it says that it is offline, and it doesn't sync playtime or recently played games.

**Expected behavior**
Playtime and recently played should sync, and the plugin should not show as offline.

**Attached logs**
[plugin-origin-7f53219b-4e2b-

[2020-03-02 19:48] PastorGL commented on #16
I observe the same. Relevant log portion:

[code]

[2020-03-03 10:36] FriendsOfGalaxy commented on #16
Hi, thanks for the report.

The OP problem is:
`ValueError: time data '2019-02-03T06:35:55Z' does not match format '%Y-%m-%dT%H:%M:%S.%fZ'`

@PastorGL issue can be probably fixed by rebuilding with new version of aiohttp. https://github.com/aio-libs/aiohttp/issues/3648
(API requires aiohttp>=3.5.4), so it should be build fixed automatically with the new release.

[2020-03-06 12:06] FriendsOfGalaxy commented on #16
This should be fixed in 0.34. Closing.

@PastorGL "ConnectionResetError" occurs when socket is closed before plugin shutdown is done.  I can repro this when I kills Galaxy forcibly. But this issue does not breaks anything, and may be suppress.

[2020-03-06 12:06] #16 closed

[2020-03-17 22:46] nicksundermeyer commented on #16
This appears to have fixed it, thank you!

[2020-03-29 14:37] derailedition opened #17 "shift 2 unleashed limited edition not picked up by integration"
that's about it. let me know if there's more info on this version I can somehow provide, if there's a way to read information through origin or something.

[2020-04-06 15:15] FriendsOfGalaxy commented on #17
Hey, thanks for reaching out. Would be awesome if you follow those steps: https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Common-problems#some-games-are-missing

[2020-04-06 16:04] derailedition commented on #17
this part? {"game_id": "DR:224405400", "game_title": "SHIFT 2 UNLEASHED\u2122 Limited Edition", "license_info": {"license_type": "SinglePurchase"}}

[2020-04-07 10:42] FriendsOfGalaxy commented on #17
Yes. So it is reported by the plugin. Please send issue to Galaxy via manu->Report Issue.

[2020-04-07 10:42] #17 closed

[2020-04-08 07:28] Deepo commented on #9
Seems to be fixed now, all my Origin games, including ones I pre-ordered, are now showing with achievements in Galaxy 2.0

[2020-04-08 07:28] #9 closed

[2020-05-07 14:37] PioneerRaptor opened #18 "Origin Subscription Update"
Wondering if the plugin is going to be updated to take advantage of GOG Galaxy 2.0 now allowing for subscriptions to be added.

If it has been updated for this, then I am not seeing any of my Origin Premier games appearing.

[2020-05-16 14:17] pierrebai opened #19 "Incorrect handling of games no longer owned"
**Describe the bug**
When a game ID cannot be found, the plugin causes an unexpected exception instead of detecting it. Here is the traceback from the log file:

2020-05-16 10:01:34,523 - root - ERROR - Game 'DR:110592000' not found amongst owned
Traceback (most recent call last):
  File "C:\Users\Pierre\AppData\Local\GOG.com\Galaxy\plugins\installed\origin_7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0\plu

[2020-05-18 14:56] FriendsOfGalaxy commented on #19
@pierrebai
Imho there should never be a situation where Galaxy Client asks us for anything for a game which we did not previously report as part of owned games.

Sending a "None" or anything else for that game in this case is putting a blanket on the issue.  Does the exception prevent retrieval of achievements for this game only or for other games as well ?

[2020-05-20 19:53] pierrebai commented on #19
It's possible for a game to be no longer owned. For example when the origin subscription ends.

[2020-05-21 07:19] FriendsOfGalaxy commented on #19
I understand that it is possible to lose ownership over a game, i am saying that galaxy shouldn't ask for things which weren't reported by the plugin.

That log snipet you sent clearly indicates that plugin does not have the said game in its cache, so it couldn't have sent it to GOG Galaxy as part of owned games, so Galaxy shouldn't ask for its details.

Also: `Does the exception prevent retrieval

[2020-06-01 20:20] zielman commented on #11
Here's my log, hope this helps.
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/4713236/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)
![notf](https://user-images.githubusercontent.com/58646935/83450688-08342800-a456-11ea-8243-2a8b7748ac86.jpg)

[2020-06-12 14:10] FriendsOfGalaxy commented on #18
Yes, support for subscription was added. Please share your plugin logs, I'll take a look where is the problem https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Log-files

[2020-06-12 15:35] PioneerRaptor commented on #18
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/4771714/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

My subscription tab in GOG is only showing Xbox Live Gold and Xbox Game Pass subscription games.

[2020-06-16 09:44] #19 closed

[2020-06-16 10:05] FriendsOfGalaxy commented on #18
@PioneerRaptor  Right now i see that the plugin claims that no subscription is owned on the account

`2020-06-12 00:14:30,543 - root - DEBUG - Sending data: {"jsonrpc": "2.0", "id": "8658", "result": {"subscriptions": [{"subscription_name": "Origin Access Basic", "owned": false, "subscription_discovery": 3}, {"subscription_name": "Origin Access Premier", "owned": false, "subscription_discovery": 3

[2020-06-16 17:13] PioneerRaptor commented on #18
@FriendsOfGalaxy I am an Origin Access Premier Subscriber and have been for almost 4 years now (obviously started out as just Access before Premier released). My current subscription ends on August 6, 2020. I re-up annually if that matters as well.

[2020-06-17 12:29] krugdenis opened #20 "Can't disconnect Origin account"
I can't disconnect my Origin (and Steam also) account to connect a different account. When I hit "Disconnect", a confirmation window opens. After choosing "Confirm" instead of "Cancel" nothing happens. I can repeat this, restart/reinstall GOG Galaxy and the integration as often as I want, nothing changes.

To Reproduce

Log in with account
Decide to use different account
Open integrations settings

[2020-06-19 16:44] gigabit942007 opened #21 "Origin plugin crashing due to: ModuleNotFoundError: No module named 'aiohttp.http_writer'"
**Describe the bug**
Origin plugin is crashing on GOG Galaxy startup due to missing 'aiohttp.http_writer'.

**Expected behavior**
Origin plugin should not crash. Upon disconnecting Origin you cannot add them anymore due to the plugin crashing.

**Attached logs**
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/4805796/plugi

[2020-06-29 09:46] FriendsOfGalaxy commented on #18
@PioneerRaptor thanks for info. I've prepared plugin version with extended logs. Could you please:
- Close Galaxy
- extract given zip directly to `%LocalAppData%\GOG.com\Galaxy\plugins\installed\` with overriding files
[origin more logs for subscription.zip](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/4844862/origin.more.logs.for.subscription.zip)
- Open Galaxy, connect Orig

[2020-06-29 11:53] FriendsOfGalaxy commented on #21
Strange. Looks like not donwloaded properly by Galaxy or somethinig (antivirus?) has removed some plugin files. What if you install it manually?

- Go to https://github.com/FriendsOfGalaxy/galaxy-integration-origin/releases and download `<your_os>.zip`
- Close Galaxy
- remove origin plugin (whole folder) from `%LocalAppData%\GOG.com\Galaxy\plugins\installed`
- extract downloaded zip to `%LocalAppD

[2020-06-29 11:53] FriendsOfGalaxy commented on #20
Hi, probably Galaxy backend issue. Please report to Galaxy bug-tracker by going to cog-wheel menu -> ReportIssue if it still occurs.

[2020-06-29 17:40] PioneerRaptor commented on #18
Thank you, I didn't know you could manually select subscriptions, so that's very helpful!

Log
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/4847128/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

Log 1
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.txt](https://github.com/FriendsOfGalaxy/galaxy-integration

[2020-06-30 16:32] gigabit942007 commented on #21
I have just done the steps above and now the integration works correctly, it does not crash anymore.

I'm running Windows 10 version 1909 with just Windows Defender. I checked to see maybe some files were marked as viruses but they were not marked, the log is clean.

For good measure i've reinstalled GOG a couple of times and cleaned all folders just to be sure, but the bug was still there (this w

[2020-07-01 14:49] FriendsOfGalaxy commented on #21
Hmm, strange. I wonder if the bug could be ditched if you remove `%LocalAppData%\GOG.com\Galaxy\plugins\installed` and `%LocalAppData%\GOG.com\Galaxy\plugins\downloaded` (reinstallation of Galaxy will not help, plugins are put in localappdata).

If you want, you can help Galaxy team to with this issue by
- trying to reproduce it by disconnecting current origin plugin, removing it from `%LocalAppDa

[2020-07-01 14:49] #21 closed

[2020-07-01 15:19] FriendsOfGalaxy commented on #18
Thanks! Now I see where is the problem. We read only the first subscription entry found, that is already EXPIRED bue to transition to new subscription type in 2018.
https://gateway.ea.com/proxy/subscription/pids/2261665082/subscriptionsv2/1000002165082

I'll fix that

[2020-07-01 18:15] PioneerRaptor commented on #18
You're awesome, thanks!

[2020-08-26 12:36] chumloofah opened #22 "GOG Galaxy sync issue involving Steam game playable through Origin: Titanfall 2 shown as installed after uninstall"
As titled, I bought Titanfall 2 on Steam. This used Origin to play. Galaxy synced to both platforms with no issue and I could install & launch the game via Galaxy. On uninstall of game, it would show as uninstalled in Steam, Windows & Origin, but still be shown as installed in Galaxy. I reinstalled & uninstalled several times (via Windows, Steam & Galaxy). Galaxy still detected game as installed.

[2020-09-01 11:55] FriendsOfGalaxy commented on #22
Thanks for report. I'll take a look in a spare time

[2020-09-01 11:59] FriendsOfGalaxy commented on #22
If anyone can help here with PR or investigation, plugin get game status from:

[code]

@chumloofah please see if there is folder for Titanfall 2 and if so - paste zip and upload all files from there please.

[2020-09-02 07:51] chumloofah commented on #22
Hi

Thanks for getting back to me. Unfortunately there's no Origin folder. Iit
must have been deleted when I uninstalled Origin. Sorry about that!

On Tue, Sep 1, 2020 at 12:59 PM FriendsOfGalaxy <notifications@github.com>
wrote:

[2020-09-02 07:52] chumloofah commented on #22
Thanks for taking a look. Unfortunately there's no Origin folder. Iit must have been deleted when I uninstalled Origin. Sorry about that!

[2020-09-02 09:46] FriendsOfGalaxy commented on #22
If you uninstalled Origin then plugin should not send you're games as installed at all.

Please attach your log files - I'll take a look were is the problem

[2020-09-02 11:10] chumloofah commented on #22
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5161847/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[GalaxyClient.log.9.txt](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5161854/GalaxyClient.log.9.txt)

Here is the oldest client log I have and the last Origin plugin log. Hopefully the inf

[2020-09-02 13:07] FriendsOfGalaxy commented on #22
Thanks!

I can see that

- Titanfall2 is reported as installed so I guess there should be existing `%ProgramData%\Origin\LocalContent\Titanfall2\Origin.OFR.50.0001456.mfst` file with defined game state
- but there is no `C:/ProgramData/Origin/LocalContent/Titanfall2/map.crc` file to get local game size:
[code]

Just tested with uninstallation of Plants vs. Zombies: there is exactly opposite:
- crc

[2020-09-19 05:07] NathanaelA opened #23 "Crash if ProgramData is undefined in Environmental variables."
**Describe the bug**
If ProgramData is not defined in the environment the plugin crashes here:
https://github.com/FriendsOfGalaxy/galaxy-integration-origin/blob/0aa5832b96de9d8b41ef35e64065ad41d3d6386a/src/local_games.py#L247

**To Reproduce**
Set ProgramData=
Start GOG and see if disconnect immediately and be in a crashed state crashed

**Expected behavior**
It assumes that ProgramData will alway

[2020-10-15 07:31] FriendsOfGalaxy commented on #23
Hi @NathanaelA thanks for report.

Is there any valid scenario when %Programdata% is unset? What was your case?

Defaulting to C:\ProgramData looks reasonable.. however system drive letter could be not "C" as well. Maybe `%SystemDrive%\ProgramData`? But on the other hand if you break one of your environment vars then, SystemDrive can we also broken. I think that is the user responsibility - if you

[2020-10-15 15:28] NathanaelA commented on #23
Wine had it unset, not sure why because normally Wine is pretty good about things like that...   In addition I just went back and checked several of my Virtual Machines, and Win XP also does not have it set.  (Appears that Microsoft added this in Vista)

I've used windows since Windows 2.0 --- Virtually all machines have ProgramData set to `C:\ProgramData`; only people who move it have it in a dif

[2020-10-16 19:54] FriendsOfGalaxy commented on #23
ah, Wine. Sure, no reason to be stubborn here :) Would like like to submit PR?

[2020-10-16 19:55] #20 closed

[2020-10-19 07:58] #23 closed

[2020-11-04 13:46] gloomcookie666 opened #25 "origin not showing up ultimate editions or deluxe editions"
**Before start**
- check if your issue is known: https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Common-problems

**Describe the bug**
Generally games show up fine with the origin plugin, however if a title owned is the deluxe edition or ultimate edition of a game it dows not show up in thw owned list. For instance I own the deluxe edition of Battlefield 1, which does not show up

[2020-11-09 08:44] FriendsOfGalaxy commented on #25
Hi @gloomcookie666, thanks for reporting this. I'm not sure that game edition is a root problem here.
can you attach logs?
https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Log-files

[2020-11-09 11:00] gloomcookie666 commented on #25
absolutely, this is my latest origin log. hopefully ive uploaded it right
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5509933/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

[2020-11-12 10:19] FriendsOfGalaxy commented on #25
thanks, @gloomcookie666
I can see in logs that ultimate version of games are send by plugin, so that is GOG database problem.

[code]

You didn't followed `Before start` section :(

[2020-11-12 10:20] #25 closed

[2020-11-28 03:40] austen0 opened #26 "Can't remove Origin games from Galaxy 2.0 after disconnecting"
I disconnected this plugin a while ago and just noticed that the Origin games are still appearing in my Galaxy library. I've installed Galaxy on a new computer that never had the integration or Origin installed, but the games are still showing up as 'Owned' so it seems this data is stored with GOG? I've looked through the right-click menu and 'Manage Installation > Configure' window and did not fi

[2020-11-28 03:57] #26 closed

[2020-11-28 03:58] austen0 commented on #26
Closing, as this is a duplicate of https://github.com/FriendsOfGalaxy/galaxy-integration-origin/issues/20

[2020-12-06 14:25] fredlllll opened #27 "EA play membership titles shown after membership ran out"
when ea play came out i foolishly took the free trial month without realizing it. the membership then ended and i am now stuck with a bunch of games in my library that i cant play https://i.imgur.com/LSXEFLg.png

these titles all show up in gog galaxy with no hint that they arent really owned by me https://i.imgur.com/AnRdyPD.png
syncing games was done way after the membership ran out

i would exp

[2020-12-16 09:44] FriendsOfGalaxy commented on #27
@fredlllll thanks for the report. Yeah, that is plugin responsibility.

Just to confirm: is it true that plugin returns it as owned games (under Origin tab), not as a origin subscription games (under Subscriptions tab)?

Could you share your logs file as described here?
https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Log-files

[2020-12-16 19:22] fredlllll commented on #27
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5705025/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

this is the origin plugin log

as i have since removed the titles from my origin library they dont show up on gog anymore, so i cant say if they were under subscriptions or something =/ i only used the my owned

[2020-12-25 14:30] FriendsOfGalaxy commented on #27
Hi, I can see that plugin send proper information to Galaxy that ownership of that subscription is "false".

So that is the Galaxy fault. Please send report via Galaxy menu - Send Report.

[2020-12-25 14:33] FriendsOfGalaxy commented on #27
By the way, I can see a lot of failures for getting sizes of local games. Could you please confirm that for example this file:
C:/ProgramData/Origin/LocalContent/CNC and The Covert Operations/map.crc
exists?

[2020-12-25 14:33] FriendsOfGalaxy commented on #27
@fredlllll By the way, I can see a lot of failures for getting sizes of local games. Could you please confirm that for example this file:
C:/ProgramData/Origin/LocalContent/CNC and The Covert Operations/map.crc
exists?

[2020-12-25 14:53] fredlllll commented on #27
only 5 of the crc files exist. all the other folders only have/had a mfst file in them

i have since reinstalled my windows, so i can only check the backup of my c drive that i made before reinstalling

[2020-12-25 23:01] FriendsOfGalaxy commented on #27
Are those games that have NO crc file installed? How the size is shown in Origin? Can you paste one of those mfst file from the game that have NO crc file?

[2020-12-27 22:23] fredlllll commented on #27
the ones without crc have never been installed, the ones with crc have been installed at some point but have since been uninstalled.

here the content of the mfst of mass effect andromeda, which i dont own and there is no crc
`?autoresume=0&autostart=0&buildid=&contentversion=1.0.0.10&currentstate=kReadyToStart&ddinitialdownload=0&ddinstallalreadycompleted=0&dipInstallPath=&downloaderversion=9.0.0

[2021-01-12 18:51] fl4shback opened #28 "Sims 4 + Deluxe in library causes Galaxy to count 2 installed games"
Hi!

I own both TS4 and TS4 Deluxe in Origin (releases OFB-EAST:109552299 and OFB-EAST:109552414) they show up correctly in Galaxy
But the plugin seems to report them as 2 different games causing Galaxy add 2 installed games but only one "real game" in the library.

[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5804158/p

[2021-01-19 11:20] FriendsOfGalaxy commented on #27
@fredlllll please take a look

[2021-01-19 13:09] FriendsOfGalaxy commented on #28
Hi @fl4shback

In this plugin we operate at Origin offers - so yes - those will be reported as separate game releases - as designed.

How it looks in Galaxy library? Are those releases stacked under one game tile?

Could you attach content of your C:\ProgramData\Origin\LocalContent ?

[2021-01-19 14:42] fredlllll commented on #27
[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5836525/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log)

this is the log, i dont know if its the right one though, i had to hook up origin again as galaxy seems to have forgotten all the things i hooked up last time. the log contains two starts cause galaxy updated

[2021-01-19 20:00] fl4shback commented on #28
Hi @FriendsOfGalaxy

I only have TS4 installed on Origin. Here's my LocalContent folder.
[LocalContent.zip](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5838282/LocalContent.zip)

As you can see on those screenshots, logging out of Origin plugin removes 2 installed games from my gog library.

**Logged in**
![cap1](https://user-images.githubusercontent.com/57314569/105085793-8

[2021-01-22 14:18] FriendsOfGalaxy commented on #27
@fredlllll thanks for logs.

I can see that this time plugin does not report Crysis, Cysis 2 and other games from subscription. Do you see it in Galaxy anyway?

did you disconnected origin plugin by clicking "disconnect" before installing version that I've send to you last time?

Anyway - apparently we do not invalidate offers cache. That is plugin fault.

[2021-01-22 14:34] FriendsOfGalaxy commented on #27
@fredlllll One more question: did you play or at least install all those games that are showing in Origin as expired, or all games from subscription a showing there?

[2021-01-22 15:11] fredlllll commented on #27
nope the games are not visible in galaxy, but i also removed them from my origin library, so i dont know what fixed it.

since i had the problem initially i had to reinstall my computer, so galaxy didnt remember what stuff was connected.

i did play one of the games that showed as expired, shenzhen IO to be precise. but i had it uninstalled at the time of hooking it up to galaxy

[2021-01-22 15:25] FriendsOfGalaxy commented on #27
that is important detail. Did you remove all of subscription games from the origin app?
How did you "remove" them? Did you mean "hide" button available under right click?

[2021-01-22 16:31] FriendsOfGalaxy commented on #28
Plugin logic is simple - return every offer as separate game, Galaxy will group those offers under one tile if needed.

Local (installed) games are returned just based on LocalContent directory - so plugin reports 72 installed "games" in your case (those are probably different sims DLCs? Galaxy does not support DLCs yet) based on .mfst files from LocalContent directory.

Galaxy shows only those in

[2021-01-22 16:33] FriendsOfGalaxy commented on #28
Or wait - is it possible to "install" both sims versions simulanously on Origin? Then there will be mistake in reading local games in the plugin

[2021-01-22 16:39] fl4shback commented on #28
Yeah, I see where you are coming from, seems risky.

Games are listed as 2 separate releases on Origin. Both are listed as installed... Seems like their way of doing it is what's causing the duplication in Galaxy.

(screenshot incoming)

[2021-01-22 19:26] fredlllll commented on #27
no there was a button "remove all non owned games" or so, cant remember. at least it was meant to remove all games that were added by ea play

[2021-01-22 19:58] FriendsOfGalaxy commented on #28
yeah, looks like Origin issue - we usually don't want to fix their issues but implementing hacks - its too risky. If they fix it somehow, then it is a good chance that it will be fixed in Galaxy as well.

[2021-01-22 19:59] FriendsOfGalaxy commented on #28
Let me know about what they say, but for now - I'm closing the issue. Anyway - thanks for your time to care and report it

[2021-01-22 19:59] #28 closed

[2021-01-22 20:41] FriendsOfGalaxy commented on #27
ok, thank you. Jobs for me:
1) reproduce problem and check how origin API reacts. It is ok to have duplicated 1:1 what is visible in Origin app, although ideally we should filter out games that were never played AND are no longer accesible.
2) we should update cache by removing offers that are no longer in origin API

[2021-01-28 12:27] claushofmann opened #29 "Origin games bought from Epic Games store not launching"
**Describe the bug**
When buying an EA game (such as Star Wars Battlefront 2) from the Epic Games store and installing it, the game is recognized by the Galaxy Origin integration as installed on Origin. When trying to launch the game via Galaxy, Origin shows an error message saying that the game needs to be activated and does not launch the game.

**To Reproduce**
1. Install an EA game from the Ep

[2021-02-08 19:06] rodrigovda commented on #27
I am having the same issue where my cancelled EA play membership games still show up my games on my Origin Library but greyed out, so I'm unable to play them, and Origin is showing them as "owned".

I cando whatever you need me to debug it.

I'm also interested in knowing how to delete them from my library (I can't find that magic button "remove all non owned games").

However if I can be of help,

[2021-02-08 19:10] fredlllll commented on #27
@rodrigovda rightclick one of the game and then remove from library. a popup will ask you if you want to remove only that or all of them

[2021-02-08 19:15] rodrigovda commented on #27
I don't have that option
![image](https://user-images.githubusercontent.com/15835304/107269793-66d08d80-6a4a-11eb-9d89-709555c164ab.png)

[2021-02-08 19:18] fredlllll commented on #27
weird... this is what mine looks like https://i.imgur.com/DX5ITV5.png i also dont have that STEAM logo there, did you try on one that doesnt have the steam logo?

[2021-02-08 19:24] rodrigovda commented on #27
All "EA Play" games have the steam logo (I purchade EA Play" via Steam).

However even if I right click a properly owned game, I don't have that option either.
I've tried to change the language to German just in case it was that, but no luck. Weird. Could that be a feature only available in Germany? (I'm from Spain)

[2021-02-08 20:08] fredlllll commented on #27
its only available on that one ea play game that was not removed for some reason when i clicked that the first time. maybe it has to do with you buying eaplay on steam. mine stemmed from getting a trial month of eaplay on origin

[2021-02-09 08:30] FriendsOfGalaxy commented on #27
Hi @rodrigovda
please follow those steps as well: https://github.com/FriendsOfGalaxy/galaxy-integration-origin/issues/27#issuecomment-762171695

[2021-02-09 12:56] FriendsOfGalaxy commented on #27
I have this message only when the game itself was removed from EA Play.

[2021-02-09 13:04] FriendsOfGalaxy commented on #22
@chumloofah could you help with reproduction from my previous comment?

[2021-02-09 13:13] chumloofah commented on #22
Hi. Sorry, I missed your last email.

I'll reinstall tonight and take a look tomorrow.

Kind regards

On Tue, Feb 9, 2021 at 1:04 PM FriendsOfGalaxy <notifications@github.com>
wrote:

[2021-02-09 15:51] FriendsOfGalaxy commented on #29
BTW: Origin has the similar bug when you try to launch game from their webpage via "Play on Origin".

They give empty string to `externalType` like:
`origin2://game/launch?offerIds=Origin.OFR.50.0002522&autoDownload=1&externalType=`

[2021-02-09 19:11] rodrigovda commented on #27
Here I attach the log.

I closed the client at 20:02, installed the modified plugin, and re-launched Galaxy at 20:05.

[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log.txt](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/files/5953728/plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log.txt)

[2021-02-09 19:14] rodrigovda commented on #27
Oh, I'm about to post it in the proper GitHub page, but this issue also happens in Steam. I purchased EA play in Steam and now that the suscription is over Galaxy treats the games as owned by both Origin and Steam.

[2021-02-10 13:01] claushofmann commented on #29
Seems like we're way ahead on this issue than Origin themselves :P
I can reproduce the issue when I try to start the game from the landing page. If I start it from "My Game Library" the game launches correctly.

[2021-03-13 11:26] AlePeace opened #31 "Issue with Origin Plug-in related, to Games bought on Epic and game installed through EAPlay"
**Describe the bug**
Good morning to everyone. In first place a want to congratulate with every creators of this plug-in, I ho you continuing to put effort in this cause. The second things is the problem that I face-of. The first is that a game bought through Epic Games Launcher, after dis installation, is still in the fog library, the second is that Star Wars: Jedi Fallen that I installed through

[2021-03-15 15:36] FriendsOfGalaxy commented on #31
@AlePeace thanks for report.

Let me make sure I understand properly.

Problem 1:
- you've installed game from Epic
- you've uninstalled the game
- in Galaxy it still shows as installed with button "Play"

?

As far as I know, plugin have exactly oposite problem: so installed game from Epic won't show in Galaxy as installed at all. This issue will be fixed in upcoming plugin release. see #30 - I'm

[2021-03-15 16:04] AlePeace commented on #31
I'm sorry for the log files, I attached it in this post and I'm sorry for my bad English. The analysis of the both problem are as you know. When the game from the Epic was installed also I have the same problem of the guy in the #30 issue, but then I uninstalled the game and it still shown as owned and playable.

[plugin-origin-7f53219b-4e2b-4591-9f4f-dfc5f4ba9eb0.log](https://github.com/FriendsOf

[2021-03-16 14:54] FriendsOfGalaxy commented on #31
Ok, understand.
For problem 1 - it is a battlefront 2, right?

[2021-03-16 16:09] AlePeace commented on #31
Yes right, I redeem it on the Epic then I have installed it in origin and yes I have uninstalled it from Eipic and Origin.

[2021-03-18 06:37] MancV21 opened #32 "[QUESTION] Any plans for a EA Desktop App integration script?"
Hi. Seems EA are going to get rid of Origin and replace it for the EA Desktop App on PC. The app is in beta atm but it's being used for Xbox Game Pass users to allow EA Play usages on the XBGP for PC subscription.

https://www.ea.com/ea-desktop-beta

Cheers.

[2021-03-19 01:54] ShaunV2 commented on #32
This is probably why GOG Galaxy isn't picking up any EA Play titles gotten through EA Desktop (Beta) App with Xbox Game Pass.  Also you can only run one client at a time, EA Desktop or Origin not both.   Lots of games are still missing from the EA Desktop app but that's only because it's still in beta.

[2021-04-21 10:22] FriendsOfGalaxy commented on #29
Should work in 0.39, @claushofmann could you check?

[2021-04-21 13:40] claushofmann commented on #29
Hi, yes, can confirm. My copy of Battlefront 2 bought from the Epic Store is now launching via the Origin Galaxy integration

[2021-04-21 13:40] #29 closed

[2021-05-05 07:20] FriendsOfGalaxy commented on #31
Hi @AlePeace
I've released new Origin plugin version a week or two ago - could you please check if both problems are gone for you?

[2021-05-05 08:13] AlePeace commented on #31
Hi @FriendsOfGalaxy , yes the problems are gone. Thanks, great job, I'll be waiting for the integrations with EA Desktop 😁👍

[2021-05-10 14:02] FriendsOfGalaxy commented on #31
thanks for confirmation! Yeah, EA Desktop will be the next

[2021-05-10 14:02] #31 closed

[2021-05-21 07:09] FriendsOfGalaxy commented on #32
Hi. We can add support for EA Desktop if they add support for URL protocol to install/launch games. Currently it doesn't work. For example you cannot trigger launching game from https://www.origin.com/game-library in the way it works for Origin.

[2021-05-21 08:54] MancV21 commented on #32
Ah OK. Thanks for letting me know.

On Fri, 21 May 2021, 08:09 FriendsOfGalaxy, ***@***.***>
wrote:

[2021-06-03 04:30] zer0no0 opened #33 "Achievements no longer appear"
Achievements no longer appear on any origin linked game, even the ones that used to be there have disappeared, basically all origin linked games now behave like they don't support achievements, for example in the 'my progress' tab, under achievements it says n/a, otherwise it tracks and imports other data like 'game time' normally.

Tried disconnecting quitting the application then reconnecting, s

[2021-06-14 08:13] FriendsOfGalaxy commented on #22
@chumloofah kind reminder to check reproduction:)

[2021-06-15 10:08] chumloofah commented on #22
Hi

Sorry, this kept falling off my radar. Please find the file attached.

Kind regards

On Mon, Jun 14, 2021 at 9:13 AM FriendsOfGalaxy ***@***.***>
wrote:

[2021-06-15 20:39] FriendsOfGalaxy commented on #22
@chumloofah can't find file attached - you missed it probably?

[2021-06-17 15:56] chumloofah commented on #22
Re-sending. The attachment is showing as sent here.

Kind regards

On Tue, Jun 15, 2021 at 11:07 AM Steven Morgan <
***@***.***> wrote:

[2021-06-17 15:57] chumloofah commented on #22
---------- Forwarded message ---------
From: Steven Morgan ***@***.***>
Date: Tue, Jun 15, 2021 at 11:07 AM
Subject: Re: [FriendsOfGalaxy/galaxy-integration-origin] GOG Galaxy sync
issue involving Steam game playable through Origin: Titanfall 2 shown as
installed after uninstall (#22)
To: FriendsOfGalaxy/galaxy-integration-origin <
***@***.***>

Hi

Sorry, this kept falling off my radar. Please fi

[2021-06-24 19:55] OsoaGitHub opened #34 "Games aren't launchable since stuck on 'Install' instead of 'Play'"
**Describe the bug**
Games that I have installed are seen as Owned but not Installed and thus are not launchable as instead of 'Play' it is 'Install'. Clicking on Install just opens Origin and does nothing.

**Expected behavior**
I expect the plugin to allow me to open the game instead of 'Installing' it.

**Attached logs**
[Link](https://pastebin.com/HYKAxgtW)

[2021-06-29 14:22] FriendsOfGalaxy commented on #15
During EA Desktop research I found this in their logs after trying to uninstall UnravelTwo (steam version).

[code]

 It resulted in opening Control Panel. Looks like opening Control Panel is a fallback for getting unistall command from installer manifest.

Attaching the game manifest that EA Desktop couldn't parse: [installerdata.zip](https://github.com/FriendsOfGalaxy/galaxy-integration-origin/f

[2021-06-30 10:07] FriendsOfGalaxy commented on #22
@chumloofah looks like attachements do not work when you answering directly from email. Visiting github may be needed.

[2021-06-30 10:09] chumloofah commented on #22
Thanks, I'll check it out.

On Wed, 30 Jun 2021, 11:07 FriendsOfGalaxy, ***@***.***>
wrote:

[2021-06-30 14:07] FriendsOfGalaxy commented on #34
Not much happend in logs, I would need more of them since you connect the plugin and then restart Galaxy.

From the first impression looks like https://github.com/gogcom/galaxy-integrations-python-api/issues/180 but I suppose it is after Galaxy restart, so already imported games are visible as owned, but Galaxy do not ask further for owned or installed games.

I have no reproduction in my environm

[2021-07-29 13:12] FriendsOfGalaxy commented on #32
Limited support was released - it no longer redirects to default browser when EA Desktop is installed. Launching games will probably start working out of the box when EA Desktop adds support for URL protocol.

[2021-07-29 13:16] FriendsOfGalaxy commented on #32
I'm closing this for now - feel free to report other problems with EA Desktop in separate issue.

The way how the integration is displayed in Galaxy is out of the plugin scope. Report it to Galaxy instead.

[2021-07-29 13:16] #32 closed

[2021-07-29 20:37] t0mtee commented on #34
Sorry for late response, since this issue I have moved to Playnite instead of GOG Galaxy.

[2021-07-29 20:37] #34 closed

[2021-08-06 13:14] ciaron88 opened #35 "EA Play Showing wrong A Way Out"
**Describe the bug**
EA Play Subscription links to the wrong A Way Out game. it Shows a VR "Way Out" game - https://store.steampowered.com/app/791380/Way_Out/ should be A Way Out https://www.origin.com/gbr/en-us/store/a-way-out/a-way-out

![image](https://user-images.githubusercontent.com/31342057/128515619-1384f706-57bf-4976-9331-2bcaa60970a1.png)

**Expected behavior**
Should link to the game A

[2021-08-08 17:17] fl4shback commented on #35
Can confirm, the "imported" steam version does the same thing

[2021-09-12 23:44] #33 closed

[2021-09-22 10:43] FriendsOfGalaxy commented on #33
@zer0no0 has it fixed itself for you?

[2021-10-07 08:46] ciaron88 commented on #35
Just opened GOG. looks like it has been fixed for me :)

[2021-10-07 08:46] #35 closed, assigned to nobody

[2021-10-18 12:46] CodeRows opened #36 "Galaxy shows Sims 4 play time as multiple instances of something that is not The Sims 4?"
**Describe the bug**
 Galaxy shows Sims 4 play times as multiple instances of other Sims 4 games or demos maybe?

See attached screenshot. Gog shows my play time incorrectly for the Sims 4. It shows a whole bunch of repeated instances of something else connected to the Sims 4, but they are not expansion packs. I think it might be Creat a Sim Demo, which is the only other thing I can think of that

[2021-12-07 20:06] SAS-1 opened #37 "Wing Commander 1 and 2 not showing"
**Before start**
- check if your issue is known: https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Common-problems
Checked but unable to see game names in the log

**Describe the bug**
Wing Commander 1 and 2 are missing from the GOG 2.0 interface, I had a look at the logs but I can't see them shown.
I have tried a forced sync and removing and reinstalling the plugin the games still

[2022-02-16 19:08] quanah opened #38 "Games in Origin are always listed as "Recent""
When I look at the "Recent" tab in GoG, every game in my Origin library is listed as being "recent", despite the fact that I've not purchased a game from Origin in a few years.

**To Reproduce**
1. Connect GoG with Origin
2. Look at "Recent" section

**Expected behavior**
Only recently purchased games are shown

[2022-04-02 10:37] UncleGoogle commented on #38
Recent tab shows newly added games, not newly bought, so I guess it is as expected

[2022-04-02 11:15] ShaunV2 commented on #38
That is working as it should be, that is for all recently added games of any type.

[2022-04-07 15:34] ghost opened #39 "Purchasing on Steam and Origin messes up playtime and installable versions"
**Describe the bug**
Purchasing an Origin game on Steam and Origin doubles playtime and adds an installable version to Galaxy that can't actually be installed from Origin.

**Expected behavior**
I expected my Sims 4 playtime to be around 1,150hrs but it's closer to 2,300hrs. Also, the Windows-only Steam version shows up as installable from Origin, which isn't possible.

I think this happens becaus

[2022-04-22 17:27] AlePeace opened #41 "Games are not imported"
**Before start**
- check if your issue is known: https://github.com/FriendsOfGalaxy/galaxy-integration-origin/wiki/Common-problems

**Describe the bug**
The plugin can't detect any games installed. At the moment it is FIfa 22 from EAPlay Pro

**To Reproduce**
Steps to reproduce the behavior, for example:
1. Launch GOG Galaxy 2.0
2. Sync all the integrations.
3. the game isn't imported, because the

[2022-05-03 16:07] quanah commented on #38
You've misunderstood.  I've added ZERO games to origin.  I haven't had any different games in Origin for *years*.  But the plugin always says they are "recent".  Apparently this was fixed recently, since it no longer happens.

[2022-05-03 16:07] #38 closed, assigned to nobody

[2022-06-03 19:23] muddymind opened #42 "Playtime when using EA Desktop doesn't sync to GOG"
**Describe the bug**
I noticed play time when launching games from the newer EA Desktop client doesn't sync with GOG. Using the older Origin Client it keeps updating correctly.

**To Reproduce**
1. Launch a game with EA Desktop and play it for a few minutes
2. Sync integrations in GOG and check the playtime of the game just played.

**Expected behavior**
The play time of the game just played shoul

[2022-06-20 02:02] yoharnu opened #43 "Playtime counted twice"
**Describe the bug**
I own the deluxe version of Jedi Fallen Order, and the play time is counted twice -- once for the standard version and once for the deluxe version. I do not own the game on any other service.

**To Reproduce**
Own deluxe version of a game

![GalaxyClient_zeiigLqrcH](https://user-images.githubusercontent.com/709885/174512462-47b1da92-e563-4547-8218-d18d237b86f3.jpg)
![EADesktop

[2022-11-25 17:26] centrivical2 commented on #32
Those of us that enjoy the Battlefield series whether its multiplayer or solo campaigns, but dislike the EA app & Origin launchers makes me question is there a way to bypass it?

My cousin gave me Battlefield Hardline over the Thanksgiving holiday and after installing it I was unable to play because he just gave me the disc, he didn't hold on to the case meaning there's no registration key number.